* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* すべての要素の余白をゼロに */
}

html, body {
    height: 100%; /* ページ全体の高さを確保 */
}


h1{
    text-align: center;
    font-size: 10vh;
}

a {
    display: inline-block;
    text-decoration: none;
    color: black;
    transition: transform 0.3s ease, color 0.3s ease; /* アニメーションの設定 */
}

/* リンクにホバーした時の拡大アニメーション */
a:hover {
    transform: scale(1.2); /* リンクを1.2倍に拡大 */
    color: red; /* ホバー時に色も変更 */
}

 /* 左下に配置し、見えないようにするスタイル */
 .hidden-link {
    position: fixed;
    bottom: 10px;
    left: 10px;
    opacity: 0; /* 完全に透明にする */
    z-index: 1000; /* 他の要素の上に配置されるようにする */
}

/* マウスオーバー時に見えるようにする（オプション） */
.hidden-link:hover {
    opacity: 1;
    transition: opacity 0.5s;
}

.loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}

.loading-text {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 1.2em;
}
