video,
canvas {
    display: block;
    position: absolute;
}

.movie video,
.movie canvas {
    width: 70vw;
    height: auto;
    top: 0;
    left: 0;
    position: absolute;
}

.camera video,
.camera canvas {
    width: 25vw;
    height: auto;
    bottom: 1;
    right: 0;
    position: absolute;
}

.start-button {
    width: 40vw;
    height: 5vw;
    margin-left: 5vw;
}

.retry-button {
    width: 15vw;
    height: 5vw;
    margin-left: 5vw;
    margin-right: 7vw;
}

.sim_eva {
    padding-right: 5vw;
}