video,
canvas {
    display: block;
    position: absolute;
}

.movie video,
.movie canvas {
    width: 70vw;
    height: auto;
    top: 0;
    left: 0;
    position: absolute;
}

.camera video,
.camera canvas {
    width: 25vw;
    height: auto;
    bottom: 1;
    right: 0;
    position: absolute;
}

.start-button {
    width: 25vw;
    height: 5vw;
    margin-left: 5vw;
}

.retry-button {
    width: 15vw;
    height: 5vw;
    margin-left: 5vw;
    margin-right: 7vw;
}

.sim_eva {
    padding-right: 10vw;
}
/* styles.css */

/* 通常のYouTube動画 */
.regular-video {
    width: 75vw;
    height: auto;
    border: none;
    border-radius: 8px;
}

.regular-camera {
    width: 25vw;
    height: auto;
    border: none;
    border-radius: 8px;
}

/* YouTube Shorts動画 */
.shorts-video {
    width: 50vw;
    height: auto;
    border: none;
    border-radius: 8px;
}

.shorts-camera {
    width: 50vw;
    height: auto;
    border: none;
    border-radius: 8px;
}

/* レスポンシブデザインの例 */
.video-container iframe {
    max-width: 100%;
    height: auto;
}