<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>just eisa- index</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <!-- BootStrapのリンク -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body class="container">
    <h1 class="text-center my-4">ジャストエイサー</h1>
    <h2 class="text-center">遊べる曲リスト</h2>
    <ul class="list-unstyled text-center">
        <li><a href='/eisa' class="btn btn-primary btn-lg mb-2">島人ぬ宝</a></li>
        <li><a href='/dynamic' class="btn btn-success btn-lg mb-2">ダイナミック琉球</a></li>
        <li><a href='/suirenka' class="btn btn-info btn-lg mb-2">睡蓮花</a></li>
        <li><a href='/marumori' class="btn btn-danger btn-lg mb-2">マル・マル・モリ・モリ</a></li>
        <li><a href='/koi'>恋</a></li>
        <li><a href='/harehare'>ハレ晴れユカイ</a></li>
      　<li><a href='/odoloop' class="btn btn-warning btn-lg mb-2">オドループ</a></li>

        <!-- 隠し楽曲（左下） -->
        
        <a href="/eigadancer" class="hidden-link btn btn-danger">エイガダンサー</a>
    </ul>

    <!-- BootStrapのJavaScriptとjQueryのリンク -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>